.header {
  font-size: 35px;
  text-align: center;
  border: solid 2px;
  background-color: lightgray

}

body{
  background-color: lightgray;
  font-family: "Aldrich", sans-serif;
}

#Purple_font {
  font-size: 55px;
  color: purple;
}

.main {
  font-size: 40px;
}

#email-tag {
  padding: 8px 20px;
  border: 7px solid blue;
}

#password-tag {
  padding: 8px 20px;
  border: 7px solid blue;
}

#Log-in-tag {
  font-size: 25px;
  border: 7px solid blue;
}

#Comment {
  resize: both;
  height: auto;
  width: auto;
  border: 7px solid grey;
}
